.Contain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: fit-content;
  flex-shrink: 0;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 109px 125px;
  border-radius: 12px;
  border: 1px solid rgba(191, 200, 205, 0.3);
  box-shadow: 0 25px 50px -12px rgba(12, 103, 128, 0.05);
}
.ContainImg {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-top: 15px;
}
.ContainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.username label {
  position: relative;
}
input {
  width: 17.5rem;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background: #fff;
  color: #403e3e;
  padding-left: 8px;
}
input::placeholder {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}
.password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.containInput {
  width: 350px;
  height: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #e8f2f4;
  margin: 0px 0px;
  border-radius: 12px;
  border: 1px solid rgba(191, 200, 205, 0.3);
  box-shadow: 0 25px 50px -12px rgba(12, 103, 128, 0.05);
}
.btn-login {
  width: 15rem;
  height: 35px;
  border-radius: 10px;
  background-color: #0074d4;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-gg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 15rem;
  color: black;
  height: 35px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-gg img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.Contain p {
  font-size: 15px;
  margin-bottom: 15px;
}
.checkbox_save {
  width: 18rem;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  justify-content: flex-start;
}
.checkbox_save input {
  background-color: #e4e4e4;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(191, 200, 205, 0.3);
}
.remind {
  color: #0074d4;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  border: 2px solid var(--border);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #0074d4;
  border: none;
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 5px;
  height: 9px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #403e3e !important;
  transition: background-color 5000s ease-in-out 0s;
}

.remind_password {
  text-decoration: underline;
  cursor: pointer;
}
