.ContainResult{
     background-color:rgb(196, 249, 249)  ; 
  background-size: cover;      /* Ép ảnh kéo giãn bao phủ toàn bộ màn hình, không bị hở */
  background-position: center; /* Giữ tâm bức ảnh luôn ở chính giữa màn hình */
  background-repeat: no-repeat;/* Ngăn ảnh tự động lặp lại (nếu ảnh quá nhỏ) */
  background-attachment: fixed;/* Giữ ảnh nền cố định khi cuộn trang (nếu có) */
 width: 100vw;             /* Chiếm hết 100% chiều rộng màn hình */
  min-height: 100vh;        /* Chiếm tối thiểu 100% chiều cao màn hình */
  margin: 0;
  padding: 0;
}
.resultQuizz{
    width:35rem ;
    height: fit-content;
    padding-bottom: 5px;
    margin: 1rem 3rem ;
    background-color:rgb(253, 253, 253) ;
    border-radius: 20px;
}
.resultQuizz h2{
    padding:15px;
    font-size: 25px;
    color: rgb(85, 85, 235);
}

.History{
    width:35rem ;
    height: fit-content;
    min-height: 5rem;
    padding-bottom: 5px;
    margin: 1rem 3rem ;
    background-color:rgb(253, 253, 253) ;
    border-radius: 20px;
}
.History h2{
    padding:5px;
}
.content{
    width: 30rem;
    height: fit-content;
    background-color: #f8e4e4;
    margin: 20px 20px;
    border-radius: 15px;
    border: 3px solid #efcccc4d;
    padding: 15px;
    color: rgb(0, 0, 0);
}