.ContainQuizz{
   height: auto;          /* <--- THÊM MỚI */
    height: auto;          /* Để chiều cao tự động co giãn theo nội dung */
    min-height: 100vh;
    overflow-y: visible;   
    padding-bottom: 80px;
     background-color:rgb(207, 244, 244)  ; 
     width: 100vw;             /* Chiếm hết 100% chiều rộng màn hình */      /* Chiếm tối thiểu 100% chiều cao màn hình */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}