.ContainContent{
   height: auto;          /* <--- THÊM MỚI */
    height: auto;          /* Để chiều cao tự động co giãn theo nội dung */
    min-height: 100vh;
    overflow-y: visible;   
    padding-bottom: 80px;
     background-color:rgb(207, 244, 244)  ; 
     width: 100vw;             /* Chiếm hết 100% chiều rộng màn hình */      /* Chiếm tối thiểu 100% chiều cao màn hình */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
    color: black;
}
.Content{
    margin: 50px auto 0 auto;
    width: fit-content;
    min-width: 1rem;
    /* LOẠI BỎ hoàn toàn dòng: height: fit-content */
    border-radius: 15px;

    background-color: #0074d4;
    margin-left: 25px;
    margin-top: 50px;
    padding: 15px 10px;
    height: auto;
    border-radius: 15px;
}
h1{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif ;
    color: black;
}
.btn-test{
    margin-top: 12px;
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    font-size: 2rem;
    background-color: rgb(66, 126, 246);
}